body {
  background-color: gray;
}

@media screen and (max-width: 600px) 
{
  
}

h1 {
  text-align: center;
}
h2 {
    text-align: center;
}

.center {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;     
  height: 100vh;           
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}
